* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Lato', sans-serif;
	background-color: #203b5d;
}
section {
	position: relative;
	top: 10em;
	width: 30em;
	margin: 0 auto;
	padding: 1em;
	border-radius: .25em;
	background-color: #00cdf2;
	box-shadow: 0 .25em 0 rgba(0, 0, 0, .25);
}
section#boardheader {
	position: static;
	width: 80em;
	margin-bottom: 2em;
	padding: 2em 0 0;
	border-radius: 0;
	background: none;
	box-shadow: none;
}
section#boardheader h1 {
	font-size: 3em;
}
section#boardheader ul.options li a {
	color: #203b5d;
}
.account {
	position: absolute;
	top: 3.5em;
	right: calc((100% - 80em) / 2);
	color: #fff;
}
.account a {
	text-transform: capitalize;
}
section#board {
	position: static;
	width: 80em;
	margin-bottom: 2em;
	background-color: #fff;
}
section#board ul {
	-webkit-columns: 20em;
}
section#board li {
	-webkit-column-break-inside: avoid;
	float: none;
	width: 100%;
	height: auto;
	margin-bottom: 1em;
	overflow: hidden;
}
section#board li ul.icons {
	position: relative;
	left: -5em;
	width: 135%;
	height: 0;
	margin: 0 auto 0;
	transition: .3s ease;
}
section#board li:hover ul.icons {
	left: 0;
	width: 100%;
}
section#board li ul.icons li {
	float: left;
	width: auto;
	margin-right: 0;
}
section#board li ul.icons li a {
	width: auto;
	font-size: 3em;
	color: #fff;
	text-shadow: 0 .1em 0 rgba(0, 0, 0, .25);
	background: none;
}
section#board li ul.icons li:last-child {
	float: right;
}
section#board li img {
	width: 100%;
}
h1 {
	margin-bottom: .75em;
	padding-bottom: .25em;
	font-family: 'NPO Sans', sans-serif;
	color: #fff;
	border-bottom: .1em solid #fff;
}
p {
	margin-bottom: 2em;
	font-weight: 700;
}
p + p {
	margin-top: -1.4em;
}
a {
	text-decoration: none;
	color: #fff;
}
a.back {
	display: block;
	margin-top: 2em;
}
a.back:before {
	content: "< ";
}
ul {
	margin-bottom: 1.4em;
}
ul.options {
	height: 2em;
	margin-bottom: 0;
}
li {
	float: left;
	list-style-type: none;
	margin-right: 1em;
}
li:last-child {
	margin-right: 0;
}
li a {
	display: block;
	padding: .25em .5em;
	text-transform: uppercase;
	text-decoration: none;
	color: #00cdf2;
	background-color: #fff;
}
li a:hover {
	background-color: rgba(255, 255, 255, .75);
}
form {
	margin-bottom: 1.5em;
}
label {
	display: block;
	margin-bottom: 1em;
	font-weight: 700;
}
input {
	display: block;
	margin-top: .5em;
	padding: .5em .75em;
	font-size: 1em;
	border: none;
}
input[type="submit"], button {
	display: block;
	padding: .5em .75em;
	font-size: 1em;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	background-color: #203b5d;
}
input[type="submit"]:hover, button:hover {
	background-color: rgba(32, 59, 93, .75);
}
input[type="file"] {
	width: 100%;
	padding: 2em;
	cursor: pointer;
	background-color: rgba(0, 0, 0, .1);
}
.feedback {
	width: 100%;
	margin: .75em 0;
	padding: .5em .25em .5em .75em;
	font-weight: 700;
	border-radius: .25em;
	background-color: #fcfcfc;
}
.feedback.positive {
	color: #0ec10e;
	border-left: .25em solid #0ec10e;
}
.feedback.negative {
	color: #da2727;
	border-left: .25em solid #da2727;
}

@media screen and (max-width: 80em) {
	section#boardheader, section#board {
		width: 95%;
	}
	.account {
		top: 1em;
		right: calc((100% - 95%) / 2);
	}
	section#board li ul.icons {
		position: relative;
		left: 0;
		width: 100%;
	}
}
@media print {
	section#boardheader .feedback, section#boardheader .account, section#boardheader ul.options {
		display: none;
	}
	section#boardheader h1 {
		color: #203b5d;
	}
	section#board {
		width: 100%;
		border-radius: 0;
		box-shadow: none;
	}
	section#board ul {
		width: 100%;
	}
	section#board li {
		float: left;
		width: 30%;
		margin: 0 1em 1em 0;
	}
	section#board li:nth-child(3n+3) {
		margin: 0;
	}
	section#board li img {
		width: 100%;
	}
	section#board li ul.icons, section#board button {
		display: none;
	}
}